extends ../layout
block variables
  include ../variables
block content
  if username!=''
    h3= "Изменение"
    br
    form(action='/days/'+val.id, method='post')
      input(name='name', value=val.day)
      input(type='submit', value='Изменить')
      input(type='submit', value='Отменить')
