extends ../layout
block variables
  include ../variables
block content
  if username!=''
    h2= title
    form(action='/days/'+val.id, method='post')
      input(name='name', value=val.day)
      input(type='submit', value='Изменить')
      input(type='submit', value='Отменить')
