extends layout

block content
  h1= title
  form(action='/add', method='post')
    input(name='firstname', placeholder='First name')
    input(name='lastname', placeholder='Last name')
    input(type='submit')
