extends layout

block content
    //h3=title
    br
    div.container
        div.row
            div.login
                h2.text-center.login-title Изменить пароль
                p()
                    div.account-wall
                    //img(class='profile-img', src='images/1.png',width='200px',height='200px')
                    form(class='form-signin', action='/changePassword', method='POST')
                        //label(class="text-form") Старый пароль:
                        //input(type='text', name='oldpassword' class='form-control', placeholder='Старый пароль',required, autofocus)
                        label(class="text-form") Новый пароль:
                        input(type='password', name='newpassword1' class='form-control', placeholder='Новый пароль', required, autofocus)
                        label(class="text-form") Новый пароль еще раз:
                        input(type='password', name='newpassword2' class='form-control', placeholder='Новый пароль еще раз', required)
                        if (!message)
                            h2=message
                        p
                            button(class='btn btn-lg btn-primary btn-block', type='submit') Изменить
                        span.clearfix

                    //a(href='/signup', class='text-center new-account') Create an account
                    #message
                    if message
                    h1.text-center.error-message #{message}