extends layout
block variables
    - var usern = username
block content
    if username!=''
        h3= title
        br
        form(action='/delDays/'+val.id, method='post')
            p() #{val.id}. #{val.name}
            br
            input(type='submit', value='Удалить')
        form(action='/listDays' method='get')
            input(type='submit', value='Отмена')