extends layout
block variables
  include variables
block content
  br
  h3= title
  br
  form(action='/downloadExcel', method='post'  enctype="multipart/form-data")
    input(type="file" name="my_file")
    br
    br
    button(type="submit")="Загрузить"
  pre(id="out")
  div(id="hot")
