extends layout
block variables
    include variables
block content
    br
    h3= title
    br
    form(action='/groupUpdate/' + val.id, method='post')
        div(class="form-row")
            div(class="col")
                input(name='newGroup', class="form-control" type="text" value=val.studyGroups)
            div(class="col")
                input(type='submit', class="btn" value='Изменить')
