extends layout
block variables
  - var usern = username
  - var lastn = lastname
  - var firstn = firstname
  - var type_u= type_user
block content
  if username!=''
    p
    h1= 'Cписки'
    br
    p
      a(href='/listTeacher') Преподаватели

    p
      a(href='/listSubject') Предметы

    p
      a(href='/listClass') Аудитории

    p
      a(href='/listGroup') Группы

    p
      a(href='/listDays') День Недели
    div(class="row")
        div(class="col-md-8")
        div(class="col-md-4")
            div(class='dropdown')
                button(class='btn btn-primary dropdown-toggle',type='button', data-toggle='dropdown') Меню
                ul(class='dropdown-menu dropdown-menu-right')
                    a(class='dropdown-item',href='/personalAccount') Личный кабинет
                    if (type_user == 'Администратор')
                        a(class='dropdown-item',href="/register")="Регистрация"
                    div(class='dropdown-divider')
                    a(class='dropdown-item',href="/logout")="Выйти"

    if type_user=='Администратор'
      p
        a(href='/table') Редактирование раписания