extends layout
block variables
  - var usern = username
  - var lastn = lastname
  - var firstn = firstname
  - var type_u= type_user
block content
  if username!=''
    p
    h1= email
    br
    p
      a(href='/listTeacher') Преподаватели

    p
      a(href='/listSubject') Предметы

    p
      a(href='/listClass') Аудитории

    p
      a(href='/listGroup') Группы

    p
      a(href='/listDays') День Недели

    if type_user=='Администратор'
      p
        a(href='/table') Редактирование раписания