extends layout
block variables
  include variables.pug
block content
  if username!=''
    p
    br
    div(class="row")

        div(class="col-md-4")
            h1= 'Cписки'
            div(class="list-group")
                a(href="/listTeacher" class="list-group-item")
                    i(class="fa fa-user")  Преподаватели

                a(href="/listSubject" class="list-group-item")
                    i(class="fa fa-book")  Предметы

                a(href="/listClass" class="list-group-item")
                    i(class="fa fa-columns")  Аудитории

                a(href="/listDays" class="list-group-item")
                    i(class="fa fa-calendar-check-o")  Дни недели


        div(class="col-md-4")
            h1= 'Расписание'
            div(class="list-group")
                a(href="/table" class="list-group-item")
                    i(class="fa fa-pencil")  Редактирование раписания

        if (type_user == 'Администратор')
            div(class="col-md-4")
                h1= 'Пользователи'
                div(class="list-group")
                    a(href="/listUser" class="list-group-item")
                        i(class="fa fa-group")  Пользователи

        if type_user == 'Староста'
            p(class="text-center") Данная страница доступна только администратору
