extends layout
block variables
    include variables.pug
block content
    //h3=title
    br
    div.container
        div.row
            div.login
                h2.text-center.login-title Регистрация пользователя
                p Пользователь успешно зарегистрирован в системе


