extends layout

block content
    //h3=title
    br
    div.container
        div.row
            div.login
                h2.text-center.login-title Регистрация пользователя
                if n=="true"
                    p Регистрация


