body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
.li_list{
    display: inline-block;
}
.teacher_li{
    margin-bottom: 5px;
}
.teacher_li:hover{
    cursor: pointer;
}
.edit-window {
    position: fixed;
    padding-top: 20px;
    display: block;
    right: 0;
    width: 300px;
    margin-bottom: 16px;
}

.scheduleDiv {
    margin-top: 20px;
}


.container1 {
    margin: 80px auto;
    width: 640px;
}

.login {
    position: relative;
    margin: 50px auto 0 auto;
    padding: 20px 20px 20px;
    width: 500px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.login h2 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 18pt;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
.login p {
     margin: 20px 0 0;
 }

.text-natification {
    position: relative;
    margin: 50px auto 0 auto;
    padding: 20px 20px 20px;
    width: 500px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.text-natification p {
    margin: 0px 0 0;
}
.text-natification:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.text-natification h2 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 18pt;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.text-form{
    margin-top: 12px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 100px;
    top: 37px;
    left: 0;
    background-color: blue;
    border: 1px solid black;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.dropdown-menu-right {
    position: absolute;
    margin: 0 0 0 auto;
}
.nav-tabs {
    display: inline-block;
    border-bottom: none;
    padding-top: 15px;
    font-weight: bold;
}
.navbar-header{
    margin-left:5px;
    width:100%;
}
.div-none{
    display: none;
}

