body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
.li_list{
    display: inline-block;
}
.teacher_li{
    margin-bottom: 5px;
}
.teacher_li:hover{
    cursor: pointer;
}
.edit-window {
    position: fixed;
    padding-top: 20px;
    display: block;
    right: 0;
    width: 300px;
    margin-bottom: 16px;
}

.scheduleDiv {
    margin-top: 20px;
}
.delBtn{
    margin-left: 20px;
}


.container1 {
    margin: 80px auto;
    width: 640px;
}

.login {
    position: relative;
    margin: 50px auto 0 auto;
    padding: 20px 20px 20px;
    width: 500px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.login h2 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 18pt;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
.login p {
    margin: 20px 0 0;
}

.text-natification {
    position: relative;
    margin: 50px auto 0 auto;
    padding: 20px 20px 20px;
    width: 500px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.text-natification p {
    margin: 0px 0 0;
}
.text-natification:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.text-natification h2 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 18pt;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.text-form{
    margin-top: 12px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 100px;
    top: 37px;
    left: 0;
    background-color: blue;
    border: 1px solid black;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.dropdown-menu-right {
    position: absolute;
    margin: 0 0 0 auto;
}
.nav-tabs {
    display: inline-block;
    border-bottom: none;
    padding-top: 15px;
    font-weight: bold;
}
.navbar-header{
    margin-left:5px;
    width:100%;
}
.div-none{
    display: none;
}

#aside1 {  /* селектор блока, который будет оставаться на месте */
    /*
    z-index: 100;

    position: fixed;
    margin-right: 15px;*/

}
.s1{
    display: none;
    width: 100%;
}


input.myErrorClass {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
}
bold {
    font-weight:bold;
}
.block {
    display:block;
}

ul.myErrorClass, input.myErrorClass, textarea.myErrorClass, select.myErrorClass {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
}
ul.myErrorClass input {
    color: #666 !important;
}
label.myErrorClass {
    color: red;
    font-size: 11px;
    /*    font-style: italic;*/
    display: block;
}
.select2-offscreen {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
}

/*.line {
    border:1px solid black;
}*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}

.popup {
    top: 35%;
    left: 0;
    right: 0;
    font-size: 8px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Ariel', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}

.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;

}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 8px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/* кнопка закрытия при наведении */
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}

#myTab{
    position: relative;
    top:-20px;
}
.top-input{
    position: relative;
    top:-20px;
}
.pair1 {
    border: 2px solid #979797;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #e5eef5;
    padding: 5px;

}
.pair2 {
    border: 2px solid #979797;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #dbecdb;
    padding: 5px;
}
.pair3 {
    border: 2px solid #979797;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #e4e4fc;
    padding: 5px;
}

.pairTemporary {
    border: 2px solid #979797;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #f7f5a1;
    padding: 5px;
}

.pairOff {
    border: 2px solid #979797;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #f6f6f6;
    padding: 5px;
}

.dateTemporarySch{
    border: 2px solid #979797;
    background-color: #edd053;
    margin: 0 auto;
    padding: 5px;

}

.temporarySch{
    border: 2px solid #979797;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px;
}

.onPair{
    display: block;
}

.offPair{
    display: none;
}

.nextTop{
     margin-top: 10px;
 }
