extends ../layout
block variables
    include ../variables
block content
    if username!=''
        br
        h2= title
        br
        form(action='/delGroup/'+val.id, method='post')
            p() #{val.id}. #{val.name}
            br
            div(class="form-row")
                div(class="col")
                    input(class="btn " type='submit' value='Удалить')
        br
        form(action='/listGroup' method='get')
            div(class="form-row")
                div(class="col")
                    input(class="btn " type='submit' value='Отмена')

