extends ../layout
block variables
    include ../variables
block content
    h3= "Изменение"
    br
    form(action='/studyGroups/' + val.id, method='post')
        div(class="form-row")
            div(class="col")
                input(name='name' class="form-control" type="text" value=val.name)
            div(class="col")
                input(type='submit',class="btn", value='Изменить')
                font()=" "
                input(type='submit', class="btn", value='Отменить')
