extends ../layout
block variables
    include ../variables
block content
    br
    div.container
        div.row
            div.login
                h2.text-center.login-title Изменить данные
                p()
                div.account-wall
                form(action='/changeLastname', method='POST')
                    label(class="text-form") Фамилия:
                    input(type='text', name='newlastname' class='form-control', placeholder='Новая фамилия', autofocus)
                    p
                        button(class='btn btn-lg btn-primary btn-block', type='submit') Отправить
                    span.clearfix

                #message
                if message
                h1.text-center.error-message #{message}