extends ../layout

block content
    //h3=title
    div.container
        div.row
            div.login
                h2.text-center.login-title Войти в личный кабинет
                p()
                    div.account-wall
                    //img(class='profile-img', src='images/1.png',width='200px',height='200px')
                    form(class='form-signin', action='/login', method='POST')
                        label(class="text-form") Логин или e-mail:
                        input(type='text', name='username' class='form-control', placeholder='Логин',required, autofocus)
                        label(class="text-form") Пароль:
                        input(type='password', name='password' class='form-control', placeholder='Пароль', required)
                        p
                            button(class='btn btn-lg btn-primary btn-block', type='submit') Войти
                        span.clearfix

                    //a(href='/signup', class='text-center new-account') Create an account
                    #message
                    if message
                    h1.text-center.error-message #{message}