extends ../layout
block variables
    include ../variables
block content
    //h3=title
    br
    div.container
        div.row
            div.login
                h2.text-center.login-title Регистрация пользователя
                p(class="text-center") Пользователь успешно зарегистрирован в системе


